<style>
  textarea {
    width: 400px;
    height: 150px;
  }
  
  .highlight {
    color: green;
    font-weight: bold;
    font-size: 17px;
  }
</style>

<div class="center" style="height:1200px;" ng-controller="AboutController as ctrl">
  <h1>Text</h1>
  <div style="height:20%;">
    <div>
      <textarea ng-model="text"></textarea>
    </div>
    <button ng-click="uploadText()" type="button" value="Submit">Submit</button>
  </div>
  <h1>Voice</h1>
  <div class="loading" ng-if="ctrl.loading">Loading&#8230;</div>
  <audio id="myVideo" controls ng-src="{{result}}" style="margin-bottom:10%;"></audio>
  <!--<button ng-click="playRecording()" type="button" value="播放">播放</button>
  <span>{{subtitle}}</span>-->

  <div id="player1" class="aplayer"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Video player</h2>
        <div class="videogular-container">
          <videogular vg-player-ready="ctrl.onPlayerReady($API)" vg-theme="ctrl.config.theme.url" vg-cue-points="ctrl.config.cuePoints">
            <vg-media vg-src="ctrl.config.sources" vg-tracks="ctrl.config.tracks">
            </vg-media>

            <vg-controls vg-autohide="ctrl.config.autoHide" vg-autohide-time="ctrl.config.autoHideTime">
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-buffer></vg-scrub-bar-buffer>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-cue-points class="console" vg-cue-points="ctrl.config.cuePoints.console"></vg-scrub-bar-cue-points>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-poster vg-url='ctrl.config.plugins.poster.url'></vg-poster>
            <vg-buffering></vg-buffering>
            <vg-overlay-play></vg-overlay-play>
          </videogular>
          <div class="animable barChart my-show-hide-animation" ng-style="ctrl.barChartStyle"></div>

        </div>
      </div>
    </div>
    <div id="lyrics" class="row" style="margin-top: 50px;" ng-if="ctrl.markList">
      <h2 class="animable text my-show-hide-animation" ng-style="ctrl.textStyle">TEXT</h2>
      <span ng-repeat="item in ctrl.markList" ng-class="{'highlight':((ctrl.currIdx - $index < 10) && (ctrl.currIdx - $index >= 0))}">
        {{item.value}}
      </span>
    </div>
  </div>

</div>