<div class="center" style="height:1200px;">
  <h1>voice</h1>
  <div style="height:20%;">

    <audio controls autoplay style="margin-bottom:10%;"></audio>
    <div>
      <button ng-click="startRecording()" type="button" value="录音">录音</button>
      <button ng-click="stopRecording()" type="button" value="停止">停止</button>
      <button ng-click="playRecording()" type="button" value="播放">播放</button>
      <button ng-click="uploadAudio()" type="button" value="提交">提交</button>
    </div>
    <input type="file" id="audioFile" style="margin-top:10%;" />
    <button ng-click="uploadLocalAudio()" type="button" value="提交">提交2</button>
  </div>
  <h1>Text</h1>
  <p>
    {{result}}
  </p>
</div>